.content {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flipCard {
    background-color: transparent;
    width: 100%;
    margin: 10px;
    height: 200px;
    perspective: 10000px;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.frontCard, .backCard {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    border: 1px solid black;
} 

.frontCard {
    background-color: black;
    color:white;
}

.backCard {
    background-color: white;
    color:black;
    transform: rotateY(180deg); 
}

img {
    width: 20px;
    height: 20px;
    margin: 0px 30px 0px 10px;
}

p {
    width: 70%;
}

.flippedCard .innerCard {
    transform: rotateY(180deg);
}

#nextLevel{
    position: absolute;
    top: 5%;
    left: 72%;
}
