body {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(48, 48, 48, 1) 0%, rgba(21, 21, 21, 1) 100%);
}

main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#iconSVG {
    fill: red;
}

#topContainer{
    display: flex;
    justify-content: flex-end;
}

#topContainer>* {
    margin: 10px;
}

#contentHome {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exit {
    cursor: pointer;
}

#contentHome>button {
    height: 70px;
    font-size: 20px;
}

#notes,
#characters {
    cursor: pointer;
    position: absolute;
    top: 50vh;
    z-index: 9998;
}

#notes{
    left: 3vw;   
}

#characters {
    left: 91vw;
}

#characters,
#notes {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;

}

#characters:hover,
#notes:hover {
    transform: scale(1.6);
    transition-duration: 1s;
    transform-style: smooth;
}

/* MAP */

#map {
    height: 90vh;
    border-radius: 10px;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    display: none;
}

/* Ändrar färg på kartan*/

.leaflet-tile {
    filter: hue-rotate(330deg) saturate(50%)
        /* contrast(150%) <-- exempel på andra metoder för att ändra kartans färg */
        /* hue-rotate(360deg) <- exempel på andra metoder för att ändra kartans färg  */
         !important;
}

.temporaryContent {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    width: 83.5vw;
    margin: -10px;
    height: 200px;
}

.temporaryContent>.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* for icon */

#levelDone{
    fill: green
}

.leaflet-div-icon{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}


/* CHARACTERS */

#containerCharacters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#containerCharacters p {
    text-align: center;
    color: #A1A1A1;
    margin-bottom: 60px;
}

.imgBackground {
    background-color: #222120;
    height: 80vw;
    width: 40vh;
    border-radius: 20px;

    display: flex;
    justify-content: center;
}

.topCharacter>img {
    width: 80%;
}

.topCharacter>h3 {
    color: #E6B400;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

/* NOTES */

#notesContainer {
    background: linear-gradient(180deg, rgba(48, 48, 48, 1) 0%, rgba(21, 21, 21, 1) 100%);
    z-index: 9999;
    border: none;
    width: auto;
    height: 96%;
}

#notesHeader {
    text-align: center;
    margin: 10px;
    color: #E6B400;
    font-weight: 500;
}

#notesInput {
    background-color: #3D3B3A;
    color: #A1A1A1;
    height: 80%;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    resize: none;
    overflow-y: auto;
}

#notesContainer>img {
    position: absolute;
}

textarea:focus {
    outline: none;
}

.inputSave {
    position: absolute;
    top: 90%;
    left: 80%;
}

/* DIALOG */

dialog {
    border: 1px solid black;
    border-radius: 10px;
    z-index: 9999;
}

dialog::backdrop {
    background-color: blue;
}


/* QR SCANNER */

#scannerContainer {
    margin-top: 40%;
    width: 50vw;
    padding: 0px;
}

/* funkar inte än */
#reader>div>div>div>div>button {
    color: blue
}

video {
    width: auto;
    height: auto;
}

#reader {
    border: none;
}

#reader__dashboard_section_csr {
    display: flex;
    flex-direction: column;
}

#reader>div>img {
    display: none
}

#reader__camera_selection {
    display: none;
}

/*#settings{
/*    
/*} */

