main{
    margin: 30px;
}

#topContainer{
    display: flex;
    justify-content: flex-end;
}

#topContainer > *{
    margin: 10px;
}

#contentHome{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* MAP */

#map{
    height: 70vh;
    width: 90vw;
}

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    display: none;
}

.leaflet-control {
    width: 230%;
}

.levelOne{
    fill: blue;
    color: blue;
}


.temporaryContent{
     cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

.temporaryContent > p{
    text-align: center;
}

/* CHARACTERS */

#containerCharacters{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topCharacter{
    display: flex;
}

.topCharacter > img{
    border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.topCharacter > h3{
    margin-left: 10px;
}

.character{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

/* NOTES */

#notesHeader{
    text-align: center;
    margin: 0px;
}

#notesInput{
    height: 80vh;
    width: 100%;
    border: 1px solid black; 
    border-radius: 10px;
    padding: 5px; 
    resize: none; 
    overflow-y: auto; 
}

textarea:active{
    border: none
}

.inputSave{
    position: absolute;
    top: 90%;
    left: 80%;
}

/* DIALOG */

dialog{
    z-index: 9999;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 16%;
    width: 250px;
    height: 250px;
}

/* QR SCANNER */

#reader > div > img{
    display: none
}

#reader__camera_selection{
    display: none;
}
