:root {
    --white: #B5B5B5;
    --yellow: #E6B400;
    font-family: Arial, Helvetica, sans-serif;
    --boxShadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    border: 1px solid black;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(40, 40, 40) 0%, rgb(21, 21, 21) 100%);
    overflow: hidden;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ion-icon {
    color: #B5B5B5;
    font-size: 30px;
    cursor: pointer;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #111;
    z-index: 100;
    opacity: 80%;
    display: none;
}

#topContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#topContainer>* {
    margin: 10px;
}

#topContainer img {
    width: 100%;
    margin-top: 5vh;
    height: 80%;
}

#contentHome {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#contentHome #topContainer {
    justify-content: center;
}

#contentHome section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#contentHome section>button {
    padding: 1.5vh;
    font-size: 18px;
    font-weight: 600;
    background-color: #3D3B3A;
    color: #A1A1A1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--boxShadow);
}

#contentHome section #game {
    background-color: #E6B400;
    color: #151515;
    font-weight: 700;
}

/* HEADER */

header {
    position: fixed;
    z-index: 8888;
    margin: 0;
    left: 0;
    width: 100vw;
    transform: translateY(-65vh);
}

header img {
    width: 100%;
}

#notes {
    background-color: #3D3B3A;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5px 0 10px;
    position: fixed;
    bottom: 45vh;
    right: 0;
    z-index: 10;
    border-radius: 10px 0 0 10px;
    height: 50px;
}

#notes ion-icon {
    font-size: 35px;
}

header #menuButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6vh;
    width: 100%;
    gap: 15px;
    align-items: center;
}

header #menuButtons button {
    padding: 1.2vh;
    font-size: 18px;
    font-weight: 600;
    width: 85%;
    background-color: #3D3B3A;
    color: #A1A1A1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--boxShadow);
}

header #menuButtons #quit {
    background-color: #E6B400;
    color: #151515;
    font-weight: 700;
}

header #dropArrow {
    position: absolute;
    bottom: 1vh;
    left: 44%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* MAP */

#map {
    height: 85vh;
    border-radius: 5px;
    margin-top: 40px;
}

*:focus {
    outline: none;
}

/* MARKER */

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulsating-marker {
    animation: pulse 1s infinite alternate;
}

.temporaryContent {
    cursor: pointer;
    background-color: #3D3B3A;
    color: var(--white);
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 1vh 2vh 4vh 2vh;
    border-radius: 30px 30px 0 0;
}

.temporaryContent>.content h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 2vh;
}

.temporaryContent>.content p {
    font-size: 16px;
    margin: 0 2vh 1vh 2vh;
}

.temporaryContent>#bottomContainer {
    display: flex;
    justify-content: end;
    padding-top: 2vh;
}

.temporaryContent>#bottomContainer button {
    background-color: var(--yellow);
    color: #151515;
    font-size: 16px;
    padding: 1vh 2.5vh;
    border-radius: 10px;
    border: 1px solid var(--white);
    box-shadow: var(--boxShadow);
}

/* for icon */

#levelDone {
    fill: green
}

/* WELCOME DIALOG*/

#welcomeDialog {
    top: 16vh;
    background-color: #3D3B3A;
    color: #a1a1a1;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--boxShadow);
}

#welcomeDialog h2 {
    color: var(--yellow);
    margin-bottom: -2px;
    width: 90%;
    text-align: start;
}

#welcomeDialog p {
    width: 90%;
    font-size: 18px;
}

#welcomeDialog button {
    background-color: #202020;
    color: #A1A1A1;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    width: 90%;
    cursor: pointer;
    padding: 1.3vh;
    margin-top: 10px;
    margin-bottom: 2vh;
    box-shadow: var(--boxShadow);
}

/* CHARACTERS */

#popUp {
    position: fixed;
    z-index: 9999;
    width: 100vw;
}

.charactersPopUp {
    top: 0;
    height: 100vh;
    background: linear-gradient(180deg, rgb(40, 40, 40) 0%, rgb(21, 21, 21) 100%);
}

.aboutUsPopUp {
    border-radius: 30px 30px 0 0;
    height: 40vh;
    bottom: 0;
    background-color: #3D3B3A;
}

.aboutUsPopUp .swiper {
    width: 90%;
    height: fit-content;
}

.aboutUsPopUp .swiper .swiper-slide p span {
    font-weight: 800;
    color: var(--white);
}

#popUp #topContainer ion-icon {
    padding: 5% 5% 0 0;
}

.charactersPopUp .swiper {
    width: 90%;
    height: 90%;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
    border-radius: 2px;
    width: 5vw;
    height: 0.5vh;
    background-color: #595959;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #5E5E5E;
}

.swiper-wrapper p {
    color: #A1A1A1;
    margin-bottom: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

.imgBackground {
    background-color: #1e1d1d;
    height: 63vw;
    width: 90%;
    border-radius: 10px;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.imgSpotlight {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4f4f4f;
    top: 12%;
    filter: blur(40px);
}

.imgBackground img {
    height: 90%;
    z-index: 100;
}

.character {
    height: fit-content;
}

.topCharacter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topCharacter>img {
    width: 80%;
}

#popUp h2 {
    color: var(--yellow);
    margin-top: 25px;
    margin-bottom: -10px;
    text-align: start;
    width: 90%;
}

.aboutUsPopUp h2 {
    margin-left: 5%;
    margin-bottom: -5px;
}

.aboutUsPopUp .swiper-slide {
    margin-top: -2vh;
    height: 32vh;
}

.aboutUsPopUp .swiper-slide p {
    margin-left: 5%;
    margin-right: 2%;
    font-size: 18px;
}

/* NOTES */

#notesContainer {
    background: linear-gradient(180deg, rgb(40, 40, 40) 0%, rgb(21, 21, 21) 100%);
    z-index: 9999;
    border: none;
    width: auto;
    height: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notesInput {
    background-color: #3D3B3A;
    color: #A1A1A1;
    height: 85%;
    width: 85%;
    font-size: 16px;
    line-height: 3vh;
    border: none;
    border-radius: 5px;
    padding: 15px;
    resize: none;
    overflow-y: auto;
    margin-top: 4vh;
}

textarea:focus {
    outline: none;
}

/* .inputSave {
    position: absolute;
    top: 90%;
    left: 80%;
} */

#return {
    background-color: transparent;
    border: none;
    width: 100%;
    display: flex;
    padding: 15px 0;
    cursor: pointer;
}

/* DIALOG */

dialog {
    border: 1px solid black;
    border-radius: 5px;
    z-index: 9999;
}

.modal::backdrop {
    z-index: 9999;
    background-color: black
}

dialog::backdrop {
    background-color: blue;
}

/* QR SCANNER */
#scannerContainer {
    position: fixed;
    top: 25%;
    height: fit-content;
    width: 60vw;
    background-color: #0000008a;
}

#scannerContainer #reader {
    display: inline;
}

#reader>div>img {
    display: none
}

#reader #reader__scan_region>video {
    max-height: 250px;
}

#reader__dashboard button {
    margin-bottom: 15px;
    font-size: 16px;
    background-color: var(--yellow);
    color: #151515;
    padding: 1vh 2.5vh;
    border-radius: 10px;
    border: 1px solid var(--white);
    box-shadow: var(--boxShadow);
}

#reader__dashboard a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
}

#reader__filescan_input {
    font-size: 14px;
}

.optionalCall {
    background-color: #b3b3b3;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 0.5vh 2vh;
}

/* SETTINGS */

#settingsDialog {
    display: none;
    background-color: #3D3B3A;
    width: auto;
    height: auto;
    position: fixed;
    top: 35vh;
    box-shadow: var(--boxShadow);
    z-index: 100;
    left: 7vw;
    right: 7vw;
    border-radius: 5px;
    padding: 2vh 1vh;
}

#settingsDialog h2 {
    color: var(--yellow);
    margin-top: -3vh;
    text-align: center;
}

#settingsDialog #contentSettings {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 3vh;
    align-items: center;
}

#settingsDialog button {
    background-color: #E6B400;
    color: #151515;
    padding: 1.5vh;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    width: 90%;
    cursor: pointer;
    box-shadow: var(--boxShadow);
}

#settingsDialog #endGame {
    background-color: #202020;
    color: #A1A1A1;
}


/* DIALOG promt between levels & ANALOG CONTROLL*/
#userMess,
#analogControll {
    text-align: center;
    position: absolute;
    width: 80%;
    top: 35vh;
    background-color: #3D3B3A;
    height: fit-content;
}

#analogControll {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
}

#userMess h2 {
    color: var(--yellow);
    margin-top: 3vh;
    margin-left: 5%;
    margin-bottom: -1vh;
}

#userMess p,
#analogControll p {
    font-size: 18px;
    color: #A1A1A1;
}

#analogControll p {
    text-align: center;
}

#userMess p {
    text-align: center;
    margin: 3vh 0;
}

#userMess button,
#analogControll button {
    margin-bottom: 2vh;
    padding: 1.5vh;
    background-color: #202020;
    border: none;
    border-radius: 5px;
    color: #A1A1A1;
    width: 90%;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: var(--boxShadow);
}

#analogControll div {
    display: flex;
    gap: 10px;
    width: 95%;
}

#analogControll .true {
    background-color: var(--yellow);
    color: #151515;
}

/* SCOREBOARD */

#scoreboardDialog {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 91%;
    background: linear-gradient(180deg, rgb(40, 40, 40) 0%, rgb(21, 21, 21) 100%);
}

#scoreboardDialog h2 {
    margin-top: 10vh;
}

#scoreboardDialog #container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 95%;
}

#scoreboardDialog #container h2 {
    color: var(--yellow);
    text-align: center;
}

#scoreboardDialog #topContainer {
    display: flex;
    justify-content: start;
}

#scoreboardDialog #topContainer ion-icon {
    margin: 0;
}

#scoreboardDialog #content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.top3Users {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top3Users div {
    width: 27vw;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top3Users div:nth-child(1) {
    grid-column: 2;
}

.top3Users div:nth-child(2) {
    grid-column: 1;
}

.top3Users div:nth-child(3) {
    grid-column: 3;
}

.top3Users div h1 {
    font-size: 30px;
    margin: 15px;
    color: #A1A1A1;
}

.userContainerTop3 div {
    background-color: #3D3B3A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--boxShadow);
}

.top3Users .userContainerTop3:first-of-type div {
    background-color: #524E4D;
}

.userContainerTop3 h3 {
    margin-bottom: 0;
}

.userContainerTop3 p {
    margin-top: 10px;
}

.allUsers {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding-top: 1.5vh;
}

.userContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh 3vh;
    background-color: #3D3B3A;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

.userContainer section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.allUsers .userContainer section h1 {
    font-size: 22px;
}

.userContainer h3 {
    font-size: 20px;
}

.userContainer p,
.userContainer h1,
.userContainerTop3 p {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}

.userContainer p {
    margin-right: 0;
}


/* CHOOSE CHARACTER */

#chooseCharacter {
    background: linear-gradient(180deg, rgb(40, 40, 40) 0%, rgb(21, 21, 21) 100%);
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 5vh;
    text-align: center;
    color: var(--yellow);
}

.content {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.flipCard {
    height: 14vh;
    perspective: 10000px;
    cursor: pointer;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.frontCard,
.backCard {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
}

.frontCard {
    background-color: #3D3B3A;
    color: #A1A1A1;
    border-radius: 5px;
}

.backCard {
    background-color: #3D3B3A;
    color: #A1A1A1;
    border-radius: 5px;
    transform: rotateY(180deg);
    display: flex;
    align-items: start;
}

.characterContainer {
    height: 70px;
    width: 70px;
    border-radius: 20%;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 3vh;
}

img {
    height: 100%;
}

h1 {
    font-size: 18px;
}

p {
    margin: 2.5vh 2vh;
    text-align: left;
}

span {
    color: #b50b0b;
}

#char_Anette span {
    color: green;
}

.flippedCard .innerCard {
    transform: rotateY(180deg);
}

.bottomContainer {
    display: flex;
    justify-content: end;
}

#nextLevel {
    background-color: var(--yellow);
    color: #151515;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    width: 60%;
    cursor: pointer;
    padding: 1.3vh;
    margin-top: 5px;
}

/* DIALOG FOR CODE */

#codeDialog {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: #363636;
    top: 28vh;
    width: 80%;
    box-shadow: var(--boxShadow);
}

#codeDialog>h2 {
    margin-top: 3vh;
}

.topMess {
    font-size: 18px;
    text-align: center;
    color: var(--white);
}

.containerCode {
    display: flex;
    justify-content: center;
    margin: 7%;
}

.containerCode>input {
    width: 30px;
    height: 40px;
    margin: 5px;
    background-color: #2A2A2A;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 10px 0 rgba(51, 51, 51, 0.2), 4px 2px 10px 0 rgba(0, 0, 0, 0.19);
    color: var(--white);
    font-size: 20px;
    text-align: center;
}

.tempMess {
    font-size: 18px;
    margin: 0;
    text-align: center;
    color: var(--white);
    margin-bottom: 10px;
}

#codeDialog>button {
    background-color: var(--yellow);
    color: #151515;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    width: 85%;
    cursor: pointer;
    padding: 1.3vh;
    margin-bottom: 20px;
    align-self: center;
}

/* END MESSAGE WHEN COMPLETING GAME*/

#endMess {
    background-color: #363636;
    top: 35vh;
    width: auto;
    box-shadow: var(--boxShadow);
    position: fixed;
    z-index: 100;
    left: 7vw;
    right: 7vw;
    border-radius: 5px;
    padding: 2vh 1vh;
}

#endMess h2 {
    margin-top: 3vh;
    text-align: start;
    margin-left: 5%;
}

#endMess p {
    font-size: 18px;
    color: var(--white);
}

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}