:root {
    --white: #B5B5B5;
    --yellow: #E6B400;
    --boxShadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, rgb(40, 40, 40) 0%, rgb(21, 21, 21) 100%);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

header button {
    background-color: transparent;
    border: none;
}

ion-icon {
    color: #B5B5B5;
    font-size: 40px;
}

main {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 25%;
}

h1 {
    color: var(--yellow);
    font-weight: 500;
    margin-top: 15%;
}

section {
    width: 90%;
    height: 65%;
}

div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8vh;
}

label {
    color: var(--white);
    font-size: 16px;
}

input {
    background-color: #3D3B3A;
    border: none;
    height: 4.8vh;
    border-radius: 5px;
    margin-bottom: 4vh;
    color: var(--white);
    font-size: 18px;
    padding-left: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* a lighter box-shadow for inputs*/
}

.linkText {
    font-size: 18px;
    color: var(--white);
    text-align: center;
}

.linkText a {
    color: var(--white);
}

#userMessage {
    font-size: 18px;
    background-color: var(--white);
    text-align: center;
    padding: 1vh;
    border-radius: 3px;
    opacity: 0;
}

button {
    width: 90%;
    padding: 1.5vh;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--yellow);
    color: #151515;
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

#instructionsDialog {
    top: 30vh;
    background-color: #363636;
    box-shadow: var(--boxShadow);
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
}

#instructionsDialog div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructionsDialog h2 {
    margin-bottom: 0;
    color: var(--yellow);
    text-align: center;
}

#instructionsDialog p {
    color: var(--white);
    width: 90%;
    font-size: 18px;
    text-align: center;
}

#instructionsDialog button {
    margin-bottom: 15px;
    background-color: #202020;
    color: #A1A1A1;
}