
#container{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#topContainer{
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.allUsers{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 80%;
}

.userContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}